<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>

    <style>
        body { font-family: Arial, sans-serif; margin: 40px; }
        div { margin-bottom: 10px; }
        a { color: blue; text-decoration: none; }
        a:hover { text-decoration: underline; }
    </style>

</head>
<body>

<h3>Library</h3>
<nav>
    <div><a href="Genres" th:href="@{/genres}">Genres</a></div>
    <div><a href="Authors" th:href="@{/authors}">Authors</a></div>
    <div><a href="Books" th:href="@{/books}">Books</a></div>
</nav>

</body>
</html>